# Copy this file to .env and fill in your API key
VITE_GEMINI_API_KEY=AIzaSyDacqVAnVA4yxTduNjvhacRaySPiOrmAeU
VITE_SUPABASE_URL=https://xnmqslemmrpoybbqapad.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhubXFzbGVtbXJwb3liYnFhcGFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNDQ0NjcsImV4cCI6MjA4ODgyMDQ2N30.3FlLKaojspMOLWTtrhp56ZyXOe5sDhlI5wbqGzArtxw
